#parse("common/header.html")
<body>

<div class="container-fluid adoption-main">
	<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-12">
			<h1 class="font-big mh">
            	领养申请
        	</h1>
			<table class="table mytable">
				<thead>
					<tr>
						<th>宠物种类</th>
						<th>宠物年龄</th>
						<th>宠物名字</th>
						<th>宠物性别</th>
						<th>宠物价格</th>
						<th>申请时间</th>
						<th>状态</th>
					</tr>
				</thead>
				<tbody>
				#foreach($kv in $myAdoptionMap.entrySet())
				<tr>
					<td>$kv.value.type</td>
					<td>$kv.value.age</td>
					<td>$kv.value.name</td>
					<td>$kv.value.sex</td>
					<td>$kv.value.price</td>
					<td>$kv.key.createTime</td>
					#if($kv.key.state == 0)
					<td>未审核</td>
					#elseif($kv.key.state == 1)
					<td><button type="button" onclick="location.href='procedure?adoptionId=$kv.key.id'"
								class="btn btn-success">已通过，去办手续</button></td>
					#elseif($kv.key.state == -1)
					<td class="text-warning">未通过</td>
					#elseif($kv.key.state == 4)
					<td class="text-muted">已送回</td>
					#elseif($kv.key.state == 3)
					<td class="text-success">已支付</td>
					#end
				</tr>
				#end
				</tbody>
			</table>
		</div>
	</div>
</div>

<script type="text/javascript">

</script>

#parse("common/footer.html")
</body>
</html>