#parse("common/header.html")
<body>

<div class="container">
<div class="form-div">
    <form id="reg-form" action="home" method="post" onsubmit="return(loginbtn_click())">

        <table>
            <tr>
                <td>用户名</td>
                <td><input name="username" type="text" id="username">
                </td>
            </tr>
            <tr>
                <td>密&nbsp&nbsp&nbsp&nbsp码</td>
                <td><input name="password" type="password" id="password"></td>
            </tr>
		</table>
		<div class="buttons">
				
			<input value="登 录" type="submit" style="margin-right:50px; margin-top:20px;">
	
        </div>
        <br class="clear">
    </form>
</div>

</div>

<script>
    function loginbtn_click() {
        var msg = "";
        if ($("#username").val().length == 0) {
            msg = "请输入您的用户名!";
            alert(msg);
            return false;
        }
        if ($("#password").val().length == 0) {
            msg = "请输入您的密码!";
            alert(msg);
            return false;
        }
    }
</script>
#parse("common/footer.html")

</body>
</html>