#parse("common/header.html")
<body>

<div class="msgBody">
	<div class="messageList">
		<h2 class="msgH2">我的消息</h2>
		<ul class="msgType">			
			<li class="msgLi">
				<a href="/msg/#/private">
					<i class="fa fa-envelope-o fa-2x"></i>
					<span class="myspan">私信</span>
					<i class="u-bub" style="display: none;"></i>
				</a>
			</li>
			<li class="msgLi">
				<a href="/msg/#/comment">
					<i class="fa fa-comment-o fa-2x"></i>
					<span class="myspan">评论</span>
					<i class="u-bub" style="display: none;"></i>
				</a>
			</li>
			<li class="msgLi">
				<a href="/msg/#/notify">
					<i class="fa fa-bell-o fa-2x"></i>
					<span class="myspan">通知</span>
					<i class="u-bub" style="display: none;"></i>
				</a>
			</li>
		</ul>
	</div>
	
	<div class="main-box">
		<div class="msgContent">
			<h3 class="mh"><span class="f-fl tit">消息</span></h3>
			<div class="n-msgnt n-msgnt-1 j-flag">
				<div>
					<div class="n-nmusic">
						<h3 class="f-ff2"><i class="u-icn u-icn-21"></i>暂时还没有收到@</h3>
					</div>
				</div>
			</div>
		<div class="u-page j-flag"></div>
		</div>
	</div>
</div>




#parse("common/footer.html")
</body>
</html>