#parse("common/header.html")

<script>
$(document).ready(function(){ 
	var args = new Object();
	args = GetUrlParms();
	var value1 = args["msg"];
	if(value1 == "notLogin"){
		alert("请先登录!");
	}
	if(value1 == "success"){
		alert("申请成功，请耐心等待审核!");
	}
});

</script>

<body>

	<div class="container-fluid petList-main">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12">
				<h1 class="font-big">
            	宠物列表
        		</h1>
				<table class="table">
					<thead>
						<tr>
							<th>宠物种类</th>
							<th>年龄</th>
							<th>名字</th>
							<th>性别</th>
							<th>价格</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						#foreach($kv in $petMap.entrySet())
						<tr>
							<td>$kv.key.type</td>
							<td>$kv.key.age</td>
							<td>$kv.key.name</td>
							<td>$kv.key.sex</td>
							<td>$kv.key.price</td>
							<td>
								#if($kv.value == "notAdopt")
								<button type="button" onclick="location.href='wantAdopt?petId=$kv.key.id'"
									class="btn btn-warning">我要领养</button>
								#else
								<button type="button" class="btn btn-inverse" 
									disabled="disabled">已被申领</button>
								#end
							</td>
						</tr>
						#end
					</tbody>
				</table>

				<div class="pageSelect">
					<nav aria-label="Page navigation">
						<ul class="pagination">
							#if($previous >= 1)
							<li><a href="petList?page=$!{previous}" aria-label="Previous"> 
							<span aria-hidden="true">&laquo;</span></a></li> 
							#end
							
							#foreach($page in $pages)
							<li #if($current == $page) class="active" #end><a href="petList?page=$!{page}">$!{page}</a></li> 
							#end
							
							#if($next <= $pageAmount)
							<li><a href="petList?page=$!{next}" aria-label="Next">
							<span aria-hidden="true">&raquo;</span></a></li>
							#end
						</ul>
					</nav>
				</div>

			</div>
		</div>
	</div>

<script type="text/javascript">


</script>

#parse("common/footer.html")
</body>
</html>