#parse("common/header.html")

<body>

<div class="container-fluid main">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-8">
        	<div id="myCarousel" class="carousel slide">
        		<ol class="carousel-indicators">
        			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        			<li data-target="#myCarousel" data-slide-to="1"></li>
        			<li data-target="#myCarousel" data-slide-to="2"></li>
        			<li data-target="#myCarousel" data-slide-to="3"></li>
        		</ol>
        		<div class="carousel-inner">
        			<div class="item active">
        				<img src="images/pet_1.jpg" alt="First slide">
        				<div class="carousel-caption">标题 1</div>
        			</div>
        			<div class="item">
						<img src="images/pet_2.jpg" alt="Second slide">
						<div class="carousel-caption">标题 2</div>
					</div>
					<div class="item">
						<img src="images/pet_3.jpg" alt="Third slide">
						<div class="carousel-caption">标题 3</div>
					</div>
					<div class="item">
						<img src="images/pet_4.jpg" alt="Fourth slide">
						<div class="carousel-caption">标题 4</div>
					</div>
				</div>
			
				<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
				<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
			
        	</div>
        	
        	<div class="recent">
        		<h1>最新领养</h1>
        		<HR color=#D6D6D6 style="height: 10px;">
        		#foreach($pet in $petList)
        		<div class="col-sm-12 col-md-4 col-lg-4">
        			<img src="images/p1.jpg" class="img-thumbnail" width="400px" height="300px">
        		</div>
        		<div class="col-sm-12 col-md-8 col-lg-8">
        			<h3>姓名:$pet.name &nbsp&nbsp 种类:$pet.type &nbsp&nbsp 性别:$pet.sex &nbsp&nbsp 年龄:$pet.age</h3>
        			<p id="adopt-content">$pet.profile</p>
        		</div>
        		<div class="col-md-12">
        			<hr color=#D6D6D6 SIZE=1>
        		</div>
        		#end
        	</div>
        	
        	<button type="button" onclick="getMore()" class="btn btn-default btn-block">加载更多...</button>
        	<hr>
    	</div>
    	
    	<div class="col-sm-12 col-md-4 col-lg-4">
    		<div class="news">
    			<h1>宠物新闻</h1>
    			<HR color=#D6D6D6 style="height: 10px;">
    			
    			<a href="">一对流浪狗露宿街头 互相拥抱相依为伴</a>
    			<hr color=#D6D6D6 SIZE=1>
    			
    			<a href="">当残疾动物装上3D打印假肢 其它动物都哭了</a>
    			<hr color=#D6D6D6 SIZE=1>
    			
    			<a href="">花900元网购宠物狗 收到的竟是一只玩具熊</a>
    			<hr color=#D6D6D6 SIZE=1>
    			
    			<a href="">旅顺领养日 25只萌宠找到新家</a>
    			<hr color=#D6D6D6 SIZE=1>
    			
    		</div>
    		
    		<div class="baike">
    			<h1>宠物百科</h1>
    			<HR color=#D6D6D6 style="height: 10px;">
    			
    			<img src="images/b1.jpg" class="img-rounded" width="100px" height="80px">
    			<a href="">巨型淡水龙虾</a>
    			<hr color=#D6D6D6 SIZE=1>
    			
    			<img src="images/b2.jpg" class="img-rounded" width="100px" height="80px">
    			<a href="">黄金巨手虾</a>
    			<hr color=#D6D6D6 SIZE=1>
    			
    			<img src="images/b3.jpg" class="img-rounded" width="100px" height="80px">
    			<a href="">天空蓝魔</a>
    			<hr color=#D6D6D6 SIZE=1>
    			
    			<img src="images/b4.jpg" class="img-rounded" width="100px" height="80px">
    			<a href="">樱花虾</a>
    			<hr color=#D6D6D6 SIZE=1>
    			
    		</div>
    	</div>
    	
    	
    </div>
</div>

<script>
var oBox=document.getElementById('adopt-content');
var demoHtml = oBox.innerHTML.slice(0, 200)+'...';
oBox.innerHTML = demoHtml;

var start = 1;
function getMore(){
	start += 1;
	$.get('getMore', {start : start}, function(data){
		if(data) {
			/* var petlist = eval('(' + data + ')'); */
			$.each(data, function(index, pet) {
				$('.recent').append('<div class="col-sm-12 col-md-4 col-lg-4">' 
				+ '<img src="images/p1.jpg" class="img-thumbnail" width="400px" height="300px"> </div>'
        		+ '<div class="col-sm-12 col-md-8 col-lg-8">'
        		+ '<h3>姓名:' + pet.name + '&nbsp&nbsp 种类:' + pet.type + '&nbsp&nbsp 性别:'
        		+ pet.sex + '&nbsp&nbsp 年龄:' + pet.age + '</h3>'
        		+ '<p id="adopt-content">' + pet.profile + '</p> </div>'
        		+ '<div class="col-md-12"><hr color=#D6D6D6 SIZE=1></div> ');
				
			});
		}
	});
}

</script>

#parse("common/footer.html")

</body>
</html>