#parse("common/header.html")
<body>

<div class="container-fluid recycle-manage-main">
	<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-12">
			<h1 class="font-big mh">
            	回收管理
        	</h1>
			<table class="table waiter-list">
				<thead>
					<tr>
						<th>宠物种类</th>
						<th>宠物年龄</th>
						<th>宠物名字</th>
						<th>宠物性别</th>
						<th>宠物价格</th>
						<th>申请人用户名</th>
						<th>申请人性别</th>
						<th>申请人地址</th>
						<th>手机号码</th>
						<th>申请时间</th>
						<th>是否为助养</th>
						<th>申请状态</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
				#foreach($recycle in $recycleList)
				<tr>
					#set($index = $foreach.count - 1) 
					#set($pet = $petList.get($index)) 
					#set($userInfo = $userList.get($index)) 
					<td>$pet.type</td>
					<td>$pet.age</td>
					<td>$pet.name</td>
					<td>$pet.sex</td>
					<td>$pet.price</td>
					<td>$userInfo.name</td>
					<td>$userInfo.sex</td>
					<td>$recycle.address</td>
					<td>$recycle.phone</td>
					<td>$recycle.createTime</td>
					#if($recycle.sponsorship == 0)
					<td>否</td>
					#elseif($recycle.sponsorship == 1)
					<td>是</td>
					#end
					#if($recycle.state == 0)
					<td>未审核</td>
					#elseif($recycle.state == 1)
					<td>已通过</td>
					#elseif($recycle.state == -1)
					<td>不通过</td>
					#elseif($recycle.state == -2)
					<td>已撤销</td>
					#elseif($recycle.state == 2)
					<td>已付款</td>
					#elseif($recycle.state == 3)
					<td>已送回</td>
					#end
					<td>
					<button type="button" onclick='setRecycleId($recycle.id)'
                    		class="btn btn-warning" data-toggle="modal" data-target="#audit"
                    		#if($recycle.state != 0 ) style="display:none" #end>审核</button>
					</td>
				</tr>
				#end
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="modal fade" id="audit" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">×
                </button>
                <h4 class="modal-title" id="myModalLabel_1">
                	回收申请审核
                </h4>
             </div>
             <div class="modal-body">
             	<button type="button" onclick="auditRecycle('y')"
                    	class="btn btn-success pull-left">批准</button>
                 <button type="button" onclick="auditRecycle('n')"
                    	class="btn btn-warning pull-right">不批准</button>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
var recycleId;
function setRecycleId(id) {
	recycleId = id;
}
function auditRecycle(result){
	var param = {};
	param.recycleId = recycleId;
	if(result == "y"){
		param.result = "yes";
	}else{
		param.result = "no";
	}
	$.post('auditRecycle', param, function (r) {
		alert(r);
		location.replace(location.href);
	});
}
</script>

#parse("common/footer.html")
</body>
</html>