#parse("common/header.html")
<body>

<div class="container-fluid recycle-main">
	<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-12">
			<h3 class="font-big mh">
            	已领养的宠物
        	</h3>
        	<div class="rt">
				<table class="table waiter-list ">
					<thead>
						<tr>
							<th>宠物种类</th>
							<th>宠物年龄</th>
							<th>宠物名字</th>
							<th>宠物性别</th>
							<th>宠物价格</th>
							<th>领养时间</th>
						</tr>
					</thead>
					<tbody>
					#foreach($kv in $myAdoptionMap.entrySet())
					<tr>
						#if($kv.key.state == 3)
						<td>$kv.value.type</td>
						<td>$kv.value.age</td>
						<td>$kv.value.name</td>
						<td>$kv.value.sex</td>
						<td>$kv.value.price</td>
						<td>$kv.key.updateTime</td>
						<td><button id="btnRecycle" type="button" data-toggle="modal" data-target="#recycleModal"class="btn btn-success">送回</button></td>
						#end
					</tr>
					#end
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
	
	<!-- /.填写送回宠物的信息 -->
	<div class="modal fade" id="recycleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	                <h4 class="modal-title" id="myModalLabel">送回宠物</h4>
	            </div>
	            <div class="modal-body">
	            	<div id="a">
	            	</div>
	            	宠物信息
	            </div>
	            <div class="modal-footer">
	                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
	                <button type="button" class="btn btn-primary">确认</button>
	            </div>
	        </div><!-- /.modal-content -->
	    </div><!-- /.modal -->
	</div>
</div>

#parse("common/footer.html")
</body>
</html>