#parse("common/header.html")
<body>

<script type="text/javascript">

$(document).ready(function(){ 
	var args = new Object();
	args = GetUrlParms();
	var value1 = args["msg"];
	if(value1 == "success"){
		alert("注册成功!");
		window.location.href='/';
	}
});

$(document).ready(function(){
	$("#reg-username").blur(function(){
		$.get("checkName", {username:$("#reg-username").val()}, function(data){
			  if(data=="ok"){
				  $("#msg").removeClass("alert-danger");
				  $("#msg").addClass("alert-success");
				  $("#msg").html("该用户名可以使用");
			  }
			  else{
				  $("#msg").removeClass("alert-success");
				  $("#msg").addClass("alert-danger");
				  $("#msg").html(data);
			  }
		});
	});
});

/* window.onload=function(){
	var xmlhttp = new XMLHttpRequest();
	var nameinput = document.getElementById("username");
    nameinput.onblur=function(){
        xmlhttp.open("get", "checkName?username=" + this.value, true);
        xmlhttp.send();
        
    }
    
  	//回调函数
  	xmlhttp.onreadystatechange=function(){
        if(xmlhttp.readyState == 4 && xmlhttp.status == 200)
        {
          
          var responseTxt=xmlhttp.responseText;
          if(responseTxt=="ok")
          {
             document.getElementById("msg").className="alert-success";
             document.getElementById("msg").innerHTML="该用户名可以使用";
          }
          else
          {
             document.getElementById("msg").className="alert-danger";
             document.getElementById("msg").innerHTML=responseTxt;
          }
           
        }
   } 
	
} */

</script>

<div class="container-fluid middle-register">
    <div class="row">
        <h1 class="font-big">
            注册
        </h1>
        <form role="form" action="registerUser" method="post" onsubmit="return(registerbtn_click())">
            <div class="form-group">
                <label for="reg-username">用户名：</label>
                <input type="text" class="form-control input-lg" name="reg-username" id="reg-username" value="">
            </div>
            <div class="" id="msg">
            
            </div>
            <div class="form-group">
                <label for="reg-password">密码：</label>
                <input type="password" class="form-control input-lg " name="reg-password" id="reg-password" value="">
            </div>
            <div class="form-group">
                <label for="confirm">确认密码：</label>
                <input type="password" class="form-control input-lg " name="confirm" id="confirm" value="">
            </div>
            <div class="form-group">
                <label for="sex">性别：</label>
                 <select class="form-control input-lg" name="sex" id="sex">
                	<option value="male">男</option>
                	<option value="female">女</option>
                </select>
            </div>
            <div class="form-group">
                <label for="address">角色：</label>
                 <select class="form-control input-lg" name="role" id="role">
                	<option value="user">普通用户</option>
                	<option value="admin">管理员</option>
                </select>
            </div>
            <button type="submit" class="btn btn-info btn-block fa fa-check fa-2x"></button>
        </form>
    </div>
    <div><p></p></div>
</div>

<script>
    function registerbtn_click() {
        var msg = "";
        if ($("#reg-username").val().length == 0) {
            msg = "请输入你的用户名!";
            alert(msg);
            return false;
        }
        if ($("#reg-password").val().length == 0) {
            msg = "请输入您的密码!";
            alert(msg);
            return false;
        }
        if ($("#confirm").val().length == 0) {
            msg = "请再次确认密码!";
            alert(msg);
            return false;
        }
        if($("#confirm").val() != $("#reg-password").val()){
        	msg = "两次输入的密码不一样!";
            alert(msg);
            return false;
        }
    }
</script>




#parse("common/footer.html")
</body>
</html>