.notice {
    width:17px;
    height:17px;
    line-height:17px;
    font-size:8px;
    color:#fff;
    text-align:center;
    background-color:#f00;
    border-radius:50%;
    position:absolute;
    right:5px;
    top:12px;
    display:none;

}


.msgBody{
	padding-top:45px;
	min-height:100%;
	width: 70%;  
	padding-bottom:90px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #d3d3d3;
    border-width: 0 1px;
    display:inline-block;
    position:relative;
    left:15%;
	
}

.msgH2{
	height: 30px;
    padding: 35px 0 57px 0px;
    margin-top:0px;
    margin-bottom:0px;
    font-size: 25px;
    font-weight: normal;
    line-height: 30px;
    background-color: #fefefe;
    text-align: center;
   
}

.messageList{
	margin-bottom:0px;
    float: left;
    width: 184px;
    border: 0px solid #d3d3d3;
    border-width: 1px;
    height:100% auto;
    background-color: #fefefe;
}

.msgType{
	padding-left:0px;
	float: left;
	border-top: 1px solid #ddd;
	margin-bottom:0px;
	width: 182px;
	

}

.msgLi:hover {
	cursor:pointer;
	background-color:#fdfdfd !important;
}

.msgLi{
	position: relative;
    width: 185px;
    height:55px;
	float: left;
    border-bottom: 1px solid #ddd;
    list-style: none;
    display: list-item;
    width: 182px;
    background-color: #f9f9f9;
    
}


.msgLi span {
	
    float: left;
    margin: 14px 8px 0 6px;

}

.msgLi i{
	padding-left:40px;
	float: left;
    margin-top: 14px;
    margin-bottom:17px;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    color: #777;
}



.myspan{
	text-decoration: none;
	font:bold;
	font-size: 20px;
	color: #777;
}

#send_private_msg,#send_notify_msg{
	float: right;
    font-size:13px;
    height: 30px;
    color: #333;
    line-height: 30px;
    cursor: pointer;
    text-decoration: none;
    padding:0 5px;
    border: 1px solid #ddd;
}

#send_notify_msg{
	display:none;
}




.main-box{
	float: right;
    width: 100%;
    height:89%;
    margin-left: -185px;
    border: 0px solid #d3d3d3;
    border-width: 1px;
    border-bottom: 0;
}

.msgContent{
	background-color: #fff;
	height:89%;
	width:100% auto;
	margin-left:183px;
	padding-left:40px;
	padding-right:40px;
	padding-top:30px;
	border: 0px solid #d3d3d3;
	border-bottom:0;
	border-width: 1px;
	padding-bottom: 60px;

}

.msgContent .mh{
    height: 40px;
    line-height:30px;
    font-family:"微软雅黑";
    font-size:22px;
    font-weight:bold;
    padding-bottom:5px;
    border-bottom: 2px solid #546cad;
}
#notify_content,#comment_content{
	display:none;
}

.msg_m{
	padding:12px 15px 12px 15px;
	border-bottom: 1px dashed #d3d3d3;
}

.msg_c > .msg_m:first-child {
	border-top:1px dashed #d3d3d3 !important;
}


.msg_username{
	font-size: 20px;
	height:20px;
	line-height: 20px;
	display:inline;
}


.mya{
	z-index:999;
	position:absolute;
	top:35%;
	left:45%;
	display:none;
}

.msg_sendTime{
	float: right;
    font-family: Tahoma, Geneva, sans-serif;
    color:#999;
	font-size: 12px;
	height:20px;
	line-height: 20px;
	padding-right:5px;
	display:inline;
}

.msg_content{
	width: 100%;
    color:#999;
    display:inline;
}

.msg_del{
	display:none;
	color:#0c73c2;
	cursor: pointer;
	text-align: right;
	height:10px;
	line-height:10px;
	font-size:10px;
	float:right;
	margin-bottom:10px;
	position:relative;
	right:1px;
	top:10px;
		
}

.msg_del:hover{
	text-decoration: underline;
}

.msg_m:hover .msg_del{
	display:inline;
}

#msg_u{
	margin-left:0px;
}

#msg_c{
	margin-left:0px;
	margin-top: 20px;
}


#msgContentT{
	height: 200px;
	display:inline;
}

#notifyContentT{
	height: 200px;
	display:inline;
}

.msg_m:hover{	
	background-color:#eee;	
}

.msg_targetU,.msg_contentT{
	height: 40px;
	line-height: 40px;
	text-align: right;
	padding:0 0;
}