.recycle-main{
	padding-top:50px;
	background-color: #FFFFFF;
	width: 90%;
	height: 100% auto;
	min-height: 100%;


}


.recycle-main .mh{
	padding-bottom:5px;
    font-family:"微软雅黑";
    font-weight:bold;
    border-bottom: 2px solid #546cad;
}

.recycle-main .rt{
	padding-top:20px;
	padding-left:30px;
	padding-right:30px;
}


#a,#b,#c{
	padding-left:40px;
	padding-right:40px;
}

#a p,#b p,#c p{
	float:left; 
	margin-left:15px;
	margin-top:10px; 
	line-height:20px; 
	font-size:16px;
}





#a input{
	width:400px;
	margin:4px;
	word-wrap:break-word;
}


.tdhidden{
	display:none;
}

#alert_reason,#alert_address,#alert_phone,#alert_money,#alert_sponsorship{
	width:485px;
	padding:5px 20px 5px 20px;
	height: 30px;
	display:none;
	margin-bottom: 3px;
}


.modal-footer .alert{
	width:390px;
	display: inline-block;
    padding: 5px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    margin-top:20px;
    margin-right:15px;
    display:none;
}

#alert_recycle{
	margin:5px 0 5px 0;
	width:485px;
	padding:5px 20px;
	height: 30px;
	display:block;
}


